.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5 {
  color: #c90000;
}


.reveal h1.subtopic,
.reveal h2.subtopic,
.reveal h3.subtopic,
.reveal h4.subtopic,
.reveal h5.subtopic {
  color: #888;
}

.reveal section img {
  border: 0;
}
